.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.clickable{
  cursor: pointer;
}

.clickable *:hover{
  background-color: grey;
}

input {
  margin-top: 5px;
  margin-left: 15px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper>input{
  padding-left: 30px;
}

.input-wrapper>span{
  margin-left: -15px;
  color: black;
}

.leading-symbol {
  position: relative;
  top: 50%;
  left: 40px; /* Adjust this value to move the symbol further away */
  transform: translateY(-50%);
}

.form {
  width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

